@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 3%;
}

.font-wrap,
.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.font-wrap {
  background-color: #bdc3c7;
  padding: 25px 20px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
}

.color-option:hover {
  transform: scale(1.2);
}

input#color {
  background-color: white;
}

label,
button {
  all: unset;
  padding: 15px 20px;
  text-align: center;
  background-color: #95a5a6;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity linear .1s;
}

button:hover {
  opacity: 0.85;
}

input#file {
  display: none;
}

#font-select,
input#text {
  all: unset;
  padding: 10px 0px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  color:black;
  background-color: white;
}